# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
**/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

db/.my-healthcheck.cnf
db/aria_log.00000001
db/aria_log_control
db/ib_buffer_pool
db/ib_logfile0
db/ibdata1
db/mariadb_upgrade_info
db/multi-master.mariadb_upgrade_info
db/multi-master.info
db/undo001
db/undo002
db/undo003
# System files
.DS_Store
Thumbs.db
