<main>
    <h1>Customer</h1>
    <div class="recent-orders">
        <table>
            <thead>
                <tr>
                    <th>Customer Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Nation</th>
                    <th>Phone</th>
                    <th>Account Balance</th>
                    <th>Segment</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#">Show All</a>
    </div>
    </main>