<main>
    <h1>Customer</h1>
    <div class="customerTable">
        <table>
            <thead>
                <tr>
                    <th>Customer Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Nation</th>
                    <th>Phone</th>
                    <th>Account Balance</th>
                    <th>Segment</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                 <!--<tr *ngFor="let e of customers;">
                <td>{{e.customerKey}}</td>
                <td>{{e.name}}</td>
                <td>{{e.address}}</td>
                <td>{{e.nationKey}}</td>
                <td>{{e.phone}}</td>
                <td>{{e.acctBal}}</td>
                <td>{{e.mktSegment}}</td>
                <td>{{e.comment}}</td>
            </tr>-->
            </tbody>
        </table>
        <!--<a href="#">Show All</a>-->
    </div>
</main>