<main>
    <h1>Customer</h1>
    <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th>Customer Number</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Nation</th>
                    <th>Phone</th>
                    <th>Account Balance</th>
                    <th>Segment</th>
                    <th>Comments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers | async">
                    <td>{{customer.C_CUSTKEY}}</td>
                    <td>{{customer.C_NAME}}</td>
                    <td>{{customer.C_ADDRESS}}</td>
                    <td>{{customer.C_NATIONKEY}}</td>
                    <td>{{customer.C_PHONE}}</td>
                    <td>${{customer.C_ACCTBAL | number}}</td>
                    <td>{{customer.C_MKTSEGMENT}}</td>
                    <td>{{customer.C_COMMENT}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>