
<head>
  <meta charset="utf-8" />
  <title>My Customer Manager</title>
  <meta name="description" content="This is an app to manage customer data">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" href="app.component.scss">
</head>
<html>
  <body>
    <div class="content">
      
      <div class="container">
      <app-navbar> </app-navbar>
      <!--<app-orders></app-orders>-->
      <!--<app-dashboard></app-dashboard>-->
      <router-outlet></router-outlet>
    </div>
    </div>
  </body>
</html>

