<aside>
    <div class="sidebar">
        <a routerLink="dashboard">
            <!--<span class="material-icons-sharp">
                dashboard
            </span> -->
            <h2>Dashboard</h2>
        </a>
        <a routerLink="/orders">
           <!-- <span class="material-icons-sharp">
                orders
            </span> -->
            <h2>Orders</h2>
        </a>
        <a routerLink="/customer">
           <!-- <span class="material-icons-sharp">
                customer
            </span>-->
            <h2>Customer</h2>
        </a>
    </div>
</aside>
