.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 100vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease
}

.sidebar:hover{
    box-shadow: none;
}

.sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-dark-variant);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

.sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

.sidebar a.active{
    width: 100%;
    color: var(--color-font);
    background-color: var(--color-light);
    margin-left: 0;
}

.sidebar a.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-font);
}

.sidebar a.active span{
    color: var(--color-font);
    margin-left: calc(1rem - 3px);
}

.sidebar a:hover{
    color: var(--color-font);
}

.sidebar a:hover span{
    margin-left: 0.6rem;
}