<div class="customerBlock">
    <div class="titleDatepicker">
        <h2>Highest Order Customer</h2>
        <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>
    
    <div class="customer-list">
        <div class="customer">
            <h1>123123</h1>
            <h2>Jack Berry</h2>
            <p>1231$</p>
            <p>3234 Orders</p>
        </div>
        <div class="customer">
            <h1>123452</h1>
            <h2>Amir Terry</h2>
            <p>1231$</p>
            <p>3123 Orders</p>
        </div>
        <div class="customer">
            <h1>114752</h1>
            <h2>Ember Lerry</h2>
            <p>1231$</p>
            <p>3002 Orders</p>
        </div>
        <div class="customer">
            <h1>114257</h1>
            <h2>John Kerry</h2>
            <p>1231$</p>
            <p>2950 Orders</p>
        </div>
        <div class="customer">
            <h1>114122</h1>
            <h2>Mariah Perry</h2>
            <p>1231$</p>
            <p>2800 Orders</p>
        </div>
    </div>
</div>
