
.revenueBlock:hover{
    box-shadow: none;
}

.revenueBlock h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

.revenueBlock{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;

    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

/*.revTotal h3{
    margin-top: 3.7rem;
}

.revMonth h3{
    margin-top: 3.7rem;
}*/