
<div class="revenueBlock">
                <div class ="revTotal">
                <h3>Total Revenue</h3>
                <h1>${{totalRev | async}}</h1>
                </div>    
                <div class="revMonth">
                  
                <h3>Revenue Last Month</h3>
                <h1>${{lastMonthRev | async}}</h1>
                </div>
                <div class="revYear">
                  <mat-form-field appearance="outline">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate placeholder="Start date" #dateRangeStart [value]="startDate">
                      <input matEndDate placeholder="End date" #dateRangeEnd [value]="endDate" (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                <h3>Revenue Last Year</h3>
                <h1>${{lastYearRev | async}}</h1>   
              </div>
  </div>