<div class="expected">
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date" [min]="minDate" readonly>
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
      panelClass="yearPicker">
    </mat-datepicker>
  </mat-form-field>
  <h3>Expected Revenue per Year</h3>
  <h1>${{(expectedRev | async)?.[0]?.O_REVENUE | number}}</h1>
</div>