<main>
    <h1>Orders</h1>
    <!--<div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only" id="loading">
                Loading...
            </span>
        </div>
    </div>"-->
<div class="orderTable">
    
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Customer Number</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Order Priority</th>
                <th>Clerk</th>
                <th>Shipping Priority</th>
                <th>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of orders | async">
                <td>{{e.orderKey}}</td>
                <td>{{e.customerKey}}</td>
                <td>{{e.orderStatus}}</td>
                <td>{{e.totalPrice}}</td>
                <td>{{e.orderDate}}</td>
                <td>{{e.orderPriority}}</td>
                <td>{{e.clerk}}</td>
                <td>{{e.shipPriority}}</td>
                <td>{{e.comment}}</td>
            </tr>
        </tbody>
    </table>
    <!--<a href="#">Show All</a>-->
</div>
<!--<script src="orders.component.ts"></script>-->
</main>