<main>
    <h1>Orders</h1>
<div class="orderTable">
    
    <table>
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Customer Number</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Order Priority</th>
                <th>Clerk</th>
                <th>Shipping Priority</th>
                <th>Comments</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!--<a href="#">Show All</a>-->
</div>
<script src="orders.component.ts"></script>
</main>